@charset "UTF-8";

/* footer {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 140px;
	border-top: 1px solid #e4e4e4;
	margin-top: auto;
} */

.footer {
	font-size: 14px;
	font-weight: 450;
	text-align: center;
	/* position: absolute;
    left: 0;
    bottom: 0; */
}

.footer_logo{
	width: 100px;
	height: 100px;
}

/* html {
    position: relative;
    min-height: 100%;
    margin: 0;
    background: yellow;

}

body {
    min-height: 100%;
} */