@charset "UTF-8";

div {
	border: 1px solid #bbb;
}

.nav {
	float: left;
	width: 220px;
	height: 500px;
	margin-left: 50px;
}

.main {
	display: inline-block;
	width: 500px;
	height: 500px;
	margin-left: 15px;
}

.nav_ul {
	list-style-type: none;
	width: 220px;
	height: 500px;
	background-color: #5D9FFF;
	margin: 0;
	padding: 0;
}

.nav_li1 {
	font-size: 23px;
	font-weight: bold;
	text-align: center;
	color: white;
}

.nav_li2 {
	padding: 10px;
	padding-left: 20px;
	font-weight: bold;
}
.nav li a {
	text-decoration: none;
	font-weight: bold;
	display: block;
	color: black;
	font-size: 17px;
}

.nav li a:hover {
	background-color: white;
}